NR-Rpi-control.json
[{"id":"e30964a0.7581d","type":"tab","label":"Rpi Control","disabled":false,"info":""},{"id":"b0e9c594.e1e848","type":"ui_gauge","z":"e30964a0.7581d","name":"","group":"b8004383.c7cad","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}} °C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":220,"wires":[]},{"id":"3dc5f42d.7444ec","type":"exec","z":"e30964a0.7581d","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RPi Temp.","x":290,"y":280,"wires":[["e45364e9.2fb21"],[],[]]},{"id":"47812cd1.d00c04","type":"inject","z":"e30964a0.7581d","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":"","x":110,"y":140,"wires":[["3dc5f42d.7444ec","1b0e1f59.b20d49","7aea0aac.ddb314","127f3e8.86131c2"]]},{"id":"e45364e9.2fb21","type":"function","z":"e30964a0.7581d","name":"Temp to number","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nmsg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["b0e9c594.e1e848","5c031f79.e9c4e","49f3bac8.9ee234"]]},{"id":"73f497c9.23b33","type":"ui_button","z":"e30964a0.7581d","name":"","group":"253173b7.5f95a4","order":3,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":840,"y":480,"wires":[["43243de9.8faacc"]]},{"id":"43243de9.8faacc","type":"exec","z":"e30964a0.7581d","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":1160,"y":480,"wires":[[],[],[]]},{"id":"7392bd3a.2e7c9c","type":"ui_button","z":"e30964a0.7581d","name":"","group":"b8004383.c7cad","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":650,"y":540,"wires":[["24730fca.fed4c8"]]},{"id":"24730fca.fed4c8","type":"exec","z":"e30964a0.7581d","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":1170,"y":540,"wires":[[],[],[]]},{"id":"5c031f79.e9c4e","type":"ui_chart","z":"e30964a0.7581d","name":"","group":"253173b7.5f95a4","order":2,"width":0,"height":0,"label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":850,"y":260,"wires":[[]]},{"id":"1b0e1f59.b20d49","type":"exec","z":"e30964a0.7581d","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CPU Load","x":290,"y":100,"wires":[["8e2267f2.8b661"],[],[]]},{"id":"7aea0aac.ddb314","type":"exec","z":"e30964a0.7581d","command":"free | grep Mem | awk '{print 100*($3+$5+$6)/$2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Free Memory","x":290,"y":160,"wires":[["4cccb370.3d888c"],[],[]]},{"id":"8e2267f2.8b661","type":"ui_gauge","z":"e30964a0.7581d","name":"","group":"b8004383.c7cad","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":100,"wires":[]},{"id":"4cccb370.3d888c","type":"ui_gauge","z":"e30964a0.7581d","name":"","group":"253173b7.5f95a4","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":" {{value | number:1}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":140,"wires":[]},{"id":"127f3e8.86131c2","type":"exec","z":"e30964a0.7581d","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":290,"y":220,"wires":[["fb9e64d.8be5118"],[],[]]},{"id":"fed2db92.0b0608","type":"ui_gauge","z":"e30964a0.7581d","name":"","group":"e5219d0e.453dc","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"Usage","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":180,"wires":[]},{"id":"fb9e64d.8be5118","type":"function","z":"e30964a0.7581d","name":"Disk usage calc","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["fed2db92.0b0608"]]},{"id":"49f3bac8.9ee234","type":"function","z":"e30964a0.7581d","name":"PWM Fan Control","func":"if(msg.payload <=45) msg.payload = 0;\nelse if(msg.payload >45 && msg.payload <=55) msg.payload = 30;\nelse if(msg.payload >55 && msg.payload <=60) msg.payload = 50;\nelse if(msg.payload >60 && msg.payload <=65) msg.payload = 75;\nelse if(msg.payload >65) msg.payload = 100;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["e5f19432.f94f","4e2b70e7.95eed"]]},{"id":"e5f19432.f94f","type":"rpi-gpio out","z":"e30964a0.7581d","name":"Fan Control","pin":"12","set":false,"level":"1","freq":"","out":"pwm","x":1170,"y":420,"wires":[]},{"id":"f6f182ce.89bac8","type":"ui_switch","z":"e30964a0.7581d","name":"Fan override","label":"OVERRIDE","tooltip":"","group":"e5219d0e.453dc","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1010,"y":360,"wires":[["e5f19432.f94f","4e2b70e7.95eed"]]},{"id":"4e2b70e7.95eed","type":"ui_gauge","z":"e30964a0.7581d","name":"","group":"e5219d0e.453dc","order":2,"width":0,"height":0,"gtype":"gage","title":"Fan","label":"Output","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":300,"wires":[]},{"id":"f48247d4.7bef48","type":"comment","z":"e30964a0.7581d","name":"Sources","info":"Picked from;\n\nRetreiving RPi data\nhttps://gist.github.com/gestadieu/25af5334a79d6c02d6413968a8bff572\n\nPWM fan\nhttp://forum.openmarine.net/showthread.php?tid=1093\n\nClock\nhttps://flows.nodered.org/flow/7e4bb517ce3a75add0083642ef03e9d8\n","x":80,"y":540,"wires":[]},{"id":"f1f4d3ab.1affd","type":"comment","z":"e30964a0.7581d","name":"Col 1","info":"","x":630,"y":40,"wires":[]},{"id":"7d3b84b3.c4730c","type":"comment","z":"e30964a0.7581d","name":"Col 2","info":"","x":830,"y":40,"wires":[]},{"id":"b0a0396e.b64a3","type":"comment","z":"e30964a0.7581d","name":"Col 3","info":"","x":990,"y":40,"wires":[]},{"id":"2ab93761.869558","type":"comment","z":"e30964a0.7581d","name":"Actions","info":"","x":1150,"y":40,"wires":[]},{"id":"bb0877aa.e0121","type":"comment","z":"e30964a0.7581d","name":"Calculations","info":"","x":470,"y":40,"wires":[]},{"id":"330cd5.6ca0032c","type":"comment","z":"e30964a0.7581d","name":"Retreiving data","info":"","x":300,"y":40,"wires":[]},{"id":"f079e682.0c66f8","type":"ui_template","z":"e30964a0.7581d","group":"99adbb26.5d0fa8","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":300,"y":540,"wires":[[]]},{"id":"b8004383.c7cad","type":"ui_group","z":"","name":"Col1","tab":"7e2ae42a.56b7f4","order":1,"disp":false,"width":"6"},{"id":"253173b7.5f95a4","type":"ui_group","z":"","name":"Col2","tab":"7e2ae42a.56b7f4","order":2,"disp":false,"width":"6"},{"id":"e5219d0e.453dc","type":"ui_group","z":"","name":"Col3","tab":"7e2ae42a.56b7f4","order":3,"disp":false,"width":"6"},{"id":"99adbb26.5d0fa8","type":"ui_group","z":"","name":"hidden_group","tab":"b651bde9.b331d","disp":false,"width":"6","collapse":false},{"id":"7e2ae42a.56b7f4","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1},{"id":"b651bde9.b331d","type":"ui_tab","z":"","name":"Clock","icon":"home","order":1,"disabled":false,"hidden":false}]
